@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');

:root {
  --primary: #24a280;
  --secondary: #5F58D6;
  --success: #D6CC32;
  --light: #FFFFFF;
  --light_contact: #c1c0c0;
  --dark: #000;
  --dark_sec: #132f40;
  --bg_degraded: linear-gradient(36deg, rgba(2, 27, 55, 1) 0%, rgba(0, 0, 48, 1) 100%);
  --bg: rgb(2, 27, 55);
  --bg_contact: #111730;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a, button, .btn{
  cursor: pointer;
}

body{
  width: 100vw;
}

.App{
  width: 100vw;
}

header{
  width: 100vw;
  height: 100vh;
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
}

nav{
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5rem;
  background-color: var(--light);
  z-index: 100;
  box-shadow: 0 3px 5px gray;
}
.nav_in{
  width: 100vw;
  max-width: 1200px;
  height: 100%;
}

.hero{
  width: 100vw;
  max-width: 1200px;
  height: calc(100vh - 3.5rem);
  position: relative;
}

.img_container {
  width: 100vw;
  max-width: 100%;
  height: 100%;
  position: relative;
}
.slider {
  height: 100%;
  opacity: 1;
}
/* .slider_one {
  animation: slider 60s infinite linear;
}
.slider_two {
  animation: slider 60s infinite 12s linear;
}
.slider_three {
  animation: slider 60s infinite 24s linear;
}
.slider_four {
  animation: slider 60s infinite 36s linear;
}
.slider_five {
  animation: slider 60s infinite 48s linear;
} */

@keyframes slider {
  0% {
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  30% {
      opacity: 1;
  }
  40%{
    opacity: 0;
  }
  100% {
      opacity: 0;
  }
}

.over__hero{
  position: absolute;
  background: linear-gradient(143deg, white 30%, #0e8874 50%, transparent 50.2%, transparent 57%, var(--success) 57.2%, var(--success) 63%, transparent 63.2%);
  width: 100%;
  height: 100%;
}





@media screen and (min-width: 900px) {
  nav{
    height: 4.5rem;
  }
  header{
    padding-top: 4.5rem;
  }
  .hero{
    height: calc(100vh - 4.5rem);
  }
  .slider{
    max-width: 100%;
    max-height: 100%;
    
  }
  .over__hero{
    background: linear-gradient(143deg, white 30%, #0e8874 48%, transparent 48.2%, transparent 55%, #0e8874 55.2%, #0e8874 58%, transparent 58.2%);
  }
}